<<<<<<< HEAD
*{
    padding: 0;
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}
.container{
    width: 90%;
    height: 90%;
    overflow: hidden;
    background-image: url(images/ellie-strumming-guitar-in-woods-the-last-of-us-4k-q6c0use8j3gguglf.jpg);
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    position: relative;
    animation: zoom 10s ease-in-out forwards;
    
}


@keyframes zoom{
    0%{
        background-size: 100%;
    }
    100%{
        background-size: 110%;
    }
}

.container::before{
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

.logo{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
    padding: 5px 10px;
    margin-top: 10px;
}
.logo a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}
ul li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: 0.7s;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    margin-top: 10px;
    position: relative;
    z-index: 2;
    padding: 0 40px;
}
ul{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    flex-wrap: wrap;
}
ul li{
    list-style: none;
    font-weight: 500;
}
ul li a:hover{
    color: rgb(167, 120, 34);
    text-decoration: underline;
    
}
ul li a.buy{
    color: rgb(167, 120, 34);
    font-weight: 600;
    border: 1px solid rgb(167, 120, 34);
    padding: 8px 16px;
    border-radius: 6px;
}
.buy:hover{
    transform: scale(1.1);
    transition: 1s;
}
.content{
    display: flex;
    position: relative;
    z-index: 2;
    height: 85%;
    padding: 60px;
    margin-top: 50px;
}
.text h1{
    letter-spacing: 2px;
    font-size: 50px;
    font-weight: 900;
    text-transform: capitalize;
}
.text h3{
    padding: 0 80px;
    font-size: 30px;
    
}

.text button{
    border: none;
    outline: none;
    background:rgb(229, 44, 44) ;
    width: 120px;
    color: white;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    transition: 0.8s;
    
}
button:hover{
    background:rgb(82, 58, 12) ;
    cursor: pointer;
    transform: scale(1.09);
}

@keyframes fadeIn{
    0%{opacity:0; transform: translateY(20px);}
    100%{opacity:1; transform: translateY(0);}
}

.text{
    animation: fadeIn 1.2s ease forwards;
}


i{
  color: red;
  font-size: 23px;
  margin-top: 40px;
  outline: none;
}
#wiki{
    color: white;
    font-size: 22px;
    padding: 0 6px;
    outline: none;
    
    
}
i:hover{
  color: #ff2b2b;
  transform: scale(1.2);
  transition: 0.3s;
}
.content .text a{
    text-decoration: none;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        height: 100%;
        padding: 20px;
        background-size: cover;
        background-image: url(images/Cq27oTSZV7bjGmGRqWrQ2P.jpg);
        
        
    }

    nav {
        flex-direction: column;
        justify-content: center;  
        padding: 20px;
        width: 100%;
        height: 20%;
        
        
    }

    .logo {
        font-size: 30px;
        margin-bottom: 20px;
        text-align: center;
        
    }

    ul {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        width: 100%;
        margin-top: 15px;
        
    }

    ul li a {
        padding: 8px 12px;
        font-size: 16px;
    }

    ul li a.buy {
        display: none;
        
    }

    .content {
        flex-direction: column;
        padding: 6px;
        margin-top: 90px;
        height: auto;
    }

    .text h1 {
        font-size: 32px;
        letter-spacing: 1px;
    }

    .text h3 {
        font-size: 18px;
        padding: 0 10px;
    }

    .text button {
        width: 150px;
        height: 45px;
        font-size: 16px;
        margin-top: 15px;
    }

    i, #wiki {
        font-size: 20px;
        margin-top: 20px;
        
    }
}
/* For tablets and medium screens */
@media (max-width: 1180px) and (min-width: 769px) {
    nav {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .logo {
        margin-bottom: 15px;
        text-align: center;
        font-size: 28px;
    }

    ul {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        width: 100%;
        margin-top: 10px;
    }

    ul li a {
        padding: 8px 12px;
        font-size: 16px;
    }

    ul li a.buy {
        display: none; /* hide buy button */
    }

    .content {
        flex-direction: column;
        padding: 20px;
        margin-top: 50px;
        height: auto;
        margin-left: 20px;
    }

    .text h1 {
        font-size: 36px;
        
    }

    .text h3 {
        font-size: 20px;
        padding: 0 20px;
        
    }

    .text button {
        width: 140px;
        height: 42px;
        font-size: 16px;
        margin-top: 15px;
    }

    i, #wiki {
        font-size: 21px;
        margin-top: 15px;
    }
}




=======
*{
    padding: 0;
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}
.container{
    width: 90%;
    height: 90%;
    overflow: hidden;
    background-image: url(images/ellie-strumming-guitar-in-woods-the-last-of-us-4k-q6c0use8j3gguglf.jpg);
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    position: relative;
    animation: zoom 10s ease-in-out forwards;
    
}


@keyframes zoom{
    0%{
        background-size: 100%;
    }
    100%{
        background-size: 110%;
    }
}

.container::before{
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

.logo{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
    padding: 5px 10px;
    margin-top: 10px;
    
}
.logo a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    color: darkgreen;
}
ul li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: 0.7s;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    margin-top: 10px;
    position: relative;
    z-index: 2;
    padding: 0 40px;
}
ul{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    flex-wrap: wrap;
}
ul li{
    list-style: none;
    font-weight: 500;
}
ul li a:hover{
    color: rgb(167, 120, 34);
    text-decoration: underline;
    
}
ul li a.buy{
    color: rgb(167, 120, 34);
    font-weight: 600;
    border: 1px solid rgb(167, 120, 34);
    padding: 8px 16px;
    border-radius: 6px;
}
.buy:hover{
    transform: scale(1.1);
    transition: 1s;
}
.content{
    display: flex;
    position: relative;
    z-index: 2;
    height: 85%;
    padding: 60px;
    margin-top: 50px;
}
.text h1{
    letter-spacing: 2px;
    font-size: 50px;
    font-weight: 900;
    text-transform: capitalize;
}
.text h3{
    padding: 0 80px;
    font-size: 30px;
    
}

.text button{
    border: none;
    outline: none;
    background:rgb(229, 44, 44) ;
    width: 120px;
    color: white;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    transition: 0.8s;
    
}
button:hover{
    background:rgb(82, 58, 12) ;
    cursor: pointer;
    transform: scale(1.09);
}

@keyframes fadeIn{
    0%{opacity:0; transform: translateY(20px);}
    100%{opacity:1; transform: translateY(0);}
}

.text{
    animation: fadeIn 1.2s ease forwards;
}


i{
  color: red;
  font-size: 23px;
  margin-top: 40px;
  outline: none;
}
#wiki{
    color: white;
    font-size: 22px;
    padding: 0 6px;
    outline: none;
    
    
}
i:hover{
  color: #ff2b2b;
  transform: scale(1.2);
  transition: 0.3s;
}
.content .text a{
    text-decoration: none;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        height: 100%;
        padding: 20px;
        background-size: cover;
        background-image: url(images/Cq27oTSZV7bjGmGRqWrQ2P.jpg);
        
        
    }

    nav {
        flex-direction: column;
        justify-content: center;  
        padding: 20px;
        width: 100%;
        height: 20%;
        
        
    }

    .logo {
        font-size: 30px;
        margin-bottom: 20px;
        text-align: center;
        
    }

    ul {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        width: 100%;
        margin-top: 15px;
        
    }

    ul li a {
        padding: 8px 12px;
        font-size: 16px;
    }

    ul li a.buy {
        display: none;
        
    }

    .content {
        flex-direction: column;
        padding: 6px;
        margin-top: 90px;
        height: auto;
    }

    .text h1 {
        font-size: 32px;
        letter-spacing: 1px;
    }

    .text h3 {
        font-size: 18px;
        padding: 0 10px;
    }

    .text button {
        width: 150px;
        height: 45px;
        font-size: 16px;
        margin-top: 15px;
    }

    i, #wiki {
        font-size: 20px;
        margin-top: 20px;
        
    }
}
/* For tablets and medium screens */
@media (max-width: 1180px) and (min-width: 769px) {
    nav {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .logo {
        margin-bottom: 15px;
        text-align: center;
        font-size: 28px;
    }

    ul {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        width: 100%;
        margin-top: 10px;
    }

    ul li a {
        padding: 8px 12px;
        font-size: 16px;
    }

    ul li a.buy {
        display: none; /* hide buy button */
    }

    .content {
        flex-direction: column;
        padding: 20px;
        margin-top: 50px;
        height: auto;
        margin-left: 20px;
    }

    .text h1 {
        font-size: 36px;
        
    }

    .text h3 {
        font-size: 20px;
        padding: 0 20px;
        
    }

    .text button {
        width: 140px;
        height: 42px;
        font-size: 16px;
        margin-top: 15px;
    }

    i, #wiki {
        font-size: 21px;
        margin-top: 15px;
    }
}




>>>>>>> b6aff52 (first commit)
