*{
    padding: 0;
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    width: 100%;
    background: black;
}
.container{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-image: url(images/ellie-strumming-guitar-in-woods-the-last-of-us-4k-q6c0use8j3gguglf.jpg);
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    position: relative;
    animation: zoom 10s ease-in-out forwards;
    
}


@keyframes zoom{
    0%{
        background-size: 100%;
    }
    100%{
        background-size: 110%;
    }
}

.container::before{
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

.logo{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
    padding: 5px 10px;
    margin-top: 10px;
}
.logo a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}
ul li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: 0.7s;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    margin-top: 10px;
    position: relative;
    z-index: 2;
    padding: 0 40px;
}
ul{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    flex-wrap: wrap;
}
ul li{
    list-style: none;
    font-weight: 500;
}
ul li a:hover{
    color: rgb(167, 120, 34);
    text-decoration: underline;
    
}
ul li a.buy{
    color: rgb(167, 120, 34);
    font-weight: 600;
    border: 1px solid rgb(167, 120, 34);
    padding: 8px 16px;
    border-radius: 6px;
}
.buy:hover{
    transform: scale(1.1);
    transition: 1s;
}
.content{
    display: flex;
    position: relative;
    z-index: 2;
    height: 85%;
    padding: 60px;
    
}
@keyframes fadeIn{
    0%{opacity:0; transform: translateY(20px);}
    100%{opacity:1; transform: translateY(0);}
}
.text h4{
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #ff2b2b;
    text-align: center;
    display: inline-block;
    padding: 6px 8px;
    background-color: rgba(252, 7, 7, 0.126);
    font-size: 12px;
}
.text h1{
    letter-spacing: 2px;
    font-size: 60px;
    font-weight: 900;
    text-transform: capitalize;
}
.text h3{
    padding: 0 80px;
    font-size: 60px;
    color: rgb(167, 120, 34);
    margin-bottom: 40px;
}
.text p{
    font-size: 20px;
    max-width: 480px;
    line-height: 1.6;
    color: #ffffff9a;
    word-spacing: 2px;
    margin-bottom: 20px;
}
.text a .btn-play{
    border: none;
    outline: none;
    background:rgb(167, 120, 34) ;
    width: 160px;
    color: #000;
    height: 45px;
    margin-top: 40px;
    border-radius: 8px;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    transition: 0.8s;
    text-decoration: none;
    display: inline-block;
    line-height: 40px;
    text-transform: capitalize;
}
.text a .btn-play:hover{
    cursor: pointer;
    background: rgb(229, 44, 44);
    color: #fff;
    border: none;
    transform: scale(1.09);
}
.text a .btn-explore{
    border: none;
    outline: none;
    background:transparent ;
    width: 180px;
    color: #fff;
    height: 38px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 8px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    transition: 0.4s;
    text-decoration: none;
    display: inline-block;
    line-height: 40px;
    text-transform: capitalize;
    border: 2px solid #ffffff51;
}
 .text a .btn-explore:hover{
    cursor: pointer;
    background: rgb(167, 120, 34);
    color: #000;
    border: none;
    transform: none;
}
i{
    margin-right: 8px;
}
.text{
    animation: fadeIn 1.2s ease forwards;
}
.content .text a{
    text-decoration: none;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        height: 100%;
        padding: 20px;
        background-size: cover;
        background-image: url(images/Cq27oTSZV7bjGmGRqWrQ2P.jpg);
        
        
    }

    nav {
        flex-direction: column;
        justify-content: center;  
        padding: 20px;
        width: 100%;
        height: 20%;
        
        
    }

    .logo {
        font-size: 30px;
        margin-bottom: 20px;
        text-align: center;
        
    }

    ul {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        width: 100%;
        margin-top: 15px;
        
    }

    ul li a {
        padding: 8px 12px;
        font-size: 16px;
    }

    ul li a.buy {
        display: none;
        
    }

    .content {
        flex-direction: column;
        padding: 6px;
        margin-top: 40px;
        height: auto;
    }
    .content p{
        display: none;
    }

    .text h1 {
        font-size: 32px;
        letter-spacing: 1px;
    }

    .text h3 {
        font-size: 18px;
        padding: 0 10px;
        margin-bottom: 100px;
    }

     .content a .btn-play {
        width: 150px;
        height: 50px;
        font-size: 16px;
        margin-top: 10px;
        
        
        
        
    }

    i, #wiki {
        font-size: 20px;
        margin-top: 20px;
        
    }
}
/* For tablets and medium screens */
@media (max-width: 1180px) and (min-width: 769px) {
    nav {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .logo {
        margin-bottom: 15px;
        text-align: center;
        font-size: 28px;
    }

    ul {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        width: 100%;
        margin-top: 10px;
    }

    ul li a {
        padding: 8px 12px;
        font-size: 16px;
    }

    ul li a.buy {
        display: none; 
    }

    .content {
        flex-direction: column;
        padding: 20px;
        margin-top: 50px;
        height: auto;
        margin-left: 20px;
    }

    .text h1 {
        font-size: 36px;
        
    }

    .text h3 {
        font-size: 20px;
        padding: 0 20px;
        
    }

    .text button {
        width: 140px;
        height: 42px;
        font-size: 16px;
        margin-top: 15px;
    }

    i, #wiki {
        font-size: 21px;
        margin-top: 15px;
    }
}
.container::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(
        to bottom,
        rgba(0,0,0,0) 0%,
        #000 100%
    );
    z-index: 3;
}
.overview-container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(images/tlou_image_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    position: relative;
}
.overview-container::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.overview-container > *{
    position: relative;
    z-index: 2;
}


.overview-text{
    padding: 60px 20px;
    color: #fff;
    
}
.overview-text h2{
    font-size: 60px;
    margin-bottom: 20px;
    text-transform: capitalize;
    text-align: left;
    margin-left: 20px;
}
.overview-text p{
    font-size: 18px;
    max-width: 800px;
    line-height: 1.6;
    color: #ffffff9a;
    word-spacing: 2px;
    text-align: left;
    margin-left: 25px;
    
}
.overview-text a.overview-btn{
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 20px;
    background:rgb(167, 120, 34);
    color: #000;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.8s;
    text-align: center;
    width: 200px;
    
}
.overview-text a.overview-btn:hover{
    color: #fff;
    transform: scale(1.1);
}
.overview-features{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    max-width: 1300px;
    margin: 10px auto;
}
.feature{
    background: #0506057e;
    padding: 28px;
    border-radius: 18px;
    min-height: 200px;
    position: relative;
    transition: 0.3s ease;
    backdrop-filter: blur(6px);
}
.feature i{
    font-size: 26px;
    color: rgb(167, 120, 34);
    margin-bottom: 16px;
    display: inline-block;
}
.feature h3{
    color: #fff;
    margin-bottom: 16px;
    font-size: 20px;
}
.feature p{
    color: #ffffffa1;
    line-height: 1.5;
}
.feature:hover{
    background: rgb(30, 30, 30);
    transform: translateY(-10px);
    box-shadow: 0 0 0 1px rgb(167, 120, 34);
}
@media (max-width: 768px){
    .overview-features{
        grid-template-columns: 1fr;
        padding: 0 20px;
    }

    .overview-text h2{
        font-size: 40px;
    }
}
.characters-container{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(
    to bottom,
    #0c050552 0%,
    #1a0f0f70 45%,
    #0b0b0b 100%
);
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 60px;
    
}
.character-overview{
    grid-column: 1 / -1;
    color: #fff;
    max-width: 600px;
}
.character-overview h2{
    color: #fff;
    font-size: 50px;
    font-weight: 800;
    text-transform: capitalize;
    padding: 10px 0;
    margin-top: 30px;
}
.character-overview span{
    color: rgb(167, 120, 34);
}
.character-overview p{
    color:#ffffffa1 ;
    margin-top: 10px;
    line-height: 1.2;
    word-spacing: 2px;
    font-size: 18px;
    margin-bottom: 30px;
}
.character{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.character-text{
    color: #fff;
    padding: 10px 20px;
    
}
.character img{
    width: 95%;
    margin: 10px auto;
    height: 300px;
    border-radius: 18px;
    transition: ease .3s;
}

.character h3{
    font-size: 20px;
    font-weight: 800;
    text-transform: capitalize;
}

.character h5{
    margin-top: 10px;
    color: rgb(167, 120, 34);
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.character p {
    color: #ffffffa1;
    line-height: 1.6;
    word-spacing: 2px;
    max-width: 80%;
}
.character img:hover{
    box-shadow: 0 0 0 1px rgb(167, 120, 34);
    transform: scale(1.05);
    filter: brightness(0.9);
}
.editions-container{
    min-height: 100vh;
    width: 100%;
    background: url(images/3692632-last\ of\ us\ 2\ catalina.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 60px;
    position: relative;
}
@media (max-width: 768px){
    .characters-container{
        grid-template-columns: 1fr;
    }
}
.editions-container::before{
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
}
.editions-container > *{
    position: relative;
    z-index: 2;
}

.editions-overview{
    grid-column: 1/ -1;
    color: #fff;
    max-width: 800px;
    
}
.editions-overview h2{
    text-transform: capitalize;
    font-size: 50px;
    color: #fff;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 10px 0;
    margin-top: 20px;
}
.editions-overview span{
    color: rgb(158, 103, 1);
}
.editions-overview p{
    color: #ffffffa1;
    margin-top: 10px;
    line-height: 1.2;
    word-spacing: 2px;
    font-size: 18px;
    margin-bottom: 30px;
}
.editions{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: solid 1px #ffffffa1;
    border-radius: 15px;
    height: 800px;
    width: 80%;
    backdrop-filter: blur(5px);
    transition: ease .3s;
    
}
.editions h2{
    text-align: center;
    background: rgb(189, 78, 3);
    text-transform: capitalize;
    color: #fff;
    border-radius: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: -10px;
    height: 30px;
    padding: 3px 10px;
    font-size: 20px;
    letter-spacing: 1.2px;
}
.editions-text{
    color: #fff;
    padding: 10px 20px;
}
.editions img{
    width: 70%;
    height: 280px;
    margin: 10px auto;
    border-radius: 18px;
    transition: ease 0.3s;
    
}
.editions h4{
    font-size: 25px;
    font-weight: 800;
    text-transform: capitalize;
    color: #fff;
}
.editions h3{
    color: rgb(236, 157, 9);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
}
.editions p{
    color: #ffffffa1;
    line-height: 1.6;
    word-spacing: 1.5px;
    max-width: 80%;
}
.editions ul{
    display: inline-block;
    padding: 10px;
}
.editions ul li{
    color:#ffffffd3;
    font-size: 17px;
    list-style: none;
    margin-bottom: 10px;
}
.editions i{
    color: rgb(158, 103, 1);
    font-weight: 800;
    font-size: 20px;
    margin-right:20px ;
    
}
.editions button{
    width: 100%;
    background: rgb(189, 78, 3);
    color: #000;
    text-transform: capitalize;
    font-size: 16px;
    text-align: center;
    padding: 5px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    transition: ease .4s;
    cursor: pointer;
}
.editions button:hover{
    box-shadow: 0 0 0 1px rgb(167, 120, 34);
    color: #fff;
    transform: scale(1.03);
}
.editions:hover{
    border: 1px solid rgb(167, 120, 34);
}
@media (max-width: 768px){
    .editions-container{
        grid-template-columns: 1fr;
    }
}
.divider {
  padding: 80px 0;
  text-align: center;
  background: linear-gradient(to bottom, #000 95% , rgba(167, 120, 34, 0.699));
  animation: fadeIn 2s ease;
}

.divider p {
  font-size: 40px;
  letter-spacing: 4px;
  opacity: 0.85;
  color: rgb(167, 120, 34);
  animation: fadeIn 2s ease;
}
.footer{
   background: #000;
   color: #fff;
   padding: 80px 120px 40px;
}
.footer-container{
    display: grid;
    grid-template-columns: 2.2fr 1fr 1fr 1fr;
    gap: 90px;
    padding-bottom: 60px;
    border-bottom: 1px solid rgb(255,255,255,0.08);
    position: relative;
}
.footer-about h2{
  word-spacing: 2px;
  margin-bottom: 15px;
}
.footer-about p{
    color: #ffffffa1;
    max-width: 80%;
    line-height: 1.6;
}
.footer-col h3{
    margin-left: 20px;
    margin-bottom: 25px;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li a{
    color: #ffffff9a;
    text-decoration: none;
    transition: ease .2s;
}
.footer-col ul li a:hover{
 color: rgb(167, 120, 34);
 text-decoration: underline;
}
@media (max-width: 768px){
    .footer-container{
        grid-template-columns: 1fr;
    }
}



